<?xml version="1.0"?>
<config>
  <name>Spreadsheet storage</name>
  <author>juan-leyva</author>
  <version>1.0</version>
  <bin>php</bin>
  <params>{dirpath}storage.php {dirpath} {dbpath} en</params>
  <enabled>False</enabled>
  <freq>60</freq>
  <freqexec>True</freqexec>
  <summary>Plugin for storing data in a XLS spreadsheet.</summary>
</config>
