<?xml version="1.0"?>
<config>
 <name>Time by Category</name>
 <author>juan-leyva</author>
 <version>1.0</version>
 <bin>php</bin>
 <params>{dirpath}report.php en {dirpath} {dbpath} {reporthtmldir} {starttime} {endtime}</params>
 <output>timebycategory/index.html</output>
 <summary>This report shows how much time you spend in each category during the period selected.</summary>
</config>
